/*----------------------
CORE
---------------------- */
body {
font-family: 'Source Sans Pro', sans-serif;
font-size: 12pt;
background-color: black;
}
p {font-size: 0.9em;}
.textwhite {color: white;}
div.chatter.close {
float:right;
}


/*----------------------
TL BLOCKS
---------------------- */
div#statemap {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 320px;
    max-width: 640px;

}

div.chatter {color: #fff; padding: 8px 12px;}
div.chatter h1 {font-size: 18pt; margin: 0;}
div.chatter p {font-size: 11pt; margin: 0;}


/*----------------------
2L BLOCKS
---------------------- */
div#credits {
font-size: 0.7em;
text-align:right;
line-height:0.7em.
}
div#sources {
font-size: 0.7em;
text-align:left;
margin-bottom: -1.2em;
line-height:0.7em.
}
div#chart {
width:99%; 
margin:auto;
}

/*----------------------
SVG
---------------------- */
.svg-container { 
width: 100%;
vertical-align: middle; 
overflow: hidden; 
}
svg {
}

svg g#maps g.cold {
fill:#D6DDD4 !important;
stroke:#000;
stroke-width:0.25;
} 
svg g#maps g:hover {
fill:#C1272D !important;
}
svg g#maps g.hot {
fill:#C1272D !important;
}

path#lake-okeechobe {
fill:#000;
}
g#chatter {
fill:#fff;
}


/*----------------------
LISTS
---------------------- */
div#det-sample {display: none;}

div#dpstatedets {
    position: absolute;
    left: 0;
    top: 30%;
    width:57%;
}
div.county-list {
    max-height: 550px;
    overflow-y: auto;
}
div.county-list h1+p::before {
    content: "How stipends compare, percentage-wise, to the state maximum in each sport:";
}
p.drlist {margin:6px 0px;}

/*----------------------
CLOSER
---------------------- */
p#dismiss {
font-size:0.75em;
text-align: center;
cursor: pointer;
margin:8px 0 0 0;
text-transform: uppercase;
padding: 0;
}
p#dismiss+h1 {margin-top: 0;}
p#dismiss:hover {color: #C1272D;}

p.dismiss {
font-size:0.8em;
text-align: center;
cursor: pointer;
margin:8px 0 0 0;
text-transform: uppercase;
padding: 0;
}
p.dismiss+h1 {margin-top: 0;}
p.dismiss:hover {color: #C1272D;}

/*----------------------
DETAIL CHARTS
---------------------- */
dl.chart {
    font-family: 'Source Sans Pro', sans-serif;
}
p.chartnote {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.9em;
    font-weight:400;
    font-style: italic;
    margin-bottom:0px;
}
dt {
    padding: 0px 0px;
    font-weight:400;
    font-size:.8em;
    }
dd {
    padding: 0px;
    -webkit-margin-start: 0px;
    -moz-margin-start: 0px;
    background-color: #aaaaaa;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
}
.bar {
    margin-bottom: 8px;
    color: #000;
    font-size:.75em;
    font-weight: 700;
    padding: 2px 4px;
    text-align: right;
    background-color: #D6DDD4;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
}
.dataslide { 
    animation-name:barchartani; 
    animation-duration:0.8s;
    animation-iteration-count:1;
    animation-timing-function:ease-out;

    -webkit-animation-name:barchartani; 
    -webkit-animation-duration:0.8s;
    -webkit-animation-iteration-count:1;
    -webkit-animation-timing-function:ease-out;

    -moz-animation-name:barchartani; 
    -moz-animation-duration:0.8s;
    -moz-animation-iteration-count:1;
    -moz-animation-timing-function:ease-out;

    -o-animation-name:barchartani; 
    -o-animation-duration:0.8s;
    -o-animation-iteration-count:1;
    -o-animation-timing-function:ease-out;
}
@keyframes barchartani {
0% { width:0%; }
}
@-moz-keyframes barchartani {
0% { width:0%; }
}
@-webkit-keyframes barchartani {
0% { width:0%; }
}
@-o-keyframes barchartani {
0% { width:0%; }
}


